@import "tailwindcss";

@plugin 'flowbite/plugin';
@plugin "daisyui" {
  themes: dark;
}

@source '../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
  font-family: Ubuntu;
  src: url(/fonts/UbuntuMono-Regular.ttf);
}

:root {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg-color);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: all 200ms;
  scroll-behavior: smooth;
  scroll-padding: 5rem 0;
}

:root.dark {
  --bg-color: #181e2e;
}

:root:not(.dark) {
  --bg-color: #d5dfff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

th {
  @apply bg-primary-500 text-white dark:bg-[#040420];
}

footer {
  margin-top: auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(20 32 57);
  border-radius: 1rem;
  border: 1px solid #fff3;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(76, 82, 141);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(60, 77, 225);
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  height: 0;
  padding: 0;
  margin: 0;
  background: orange;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}
