@import "tailwindcss";

@plugin 'flowbite/plugin';
@plugin "daisyui" {
  themes: night;
}

@layer base {
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    box-shadow: none !important;
  }
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
}

@font-face {
  font-family: Ubuntu;
  src: url(/fonts/UbuntuMono-Regular.ttf);
}

:root {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg-color);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding: 5rem 0;
}

:root.dark,
:root.night {
  --bg-color: #2e3954;
}

:root:not(.dark):not(.night) {
  --bg-color: #d5dfff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

th {
  @apply bg-primary-500 text-white dark:bg-[#040420];
}

footer {
  margin-top: auto;
}

input[type="checkbox"] {
  background-image: none;
}

input[type="radio"] {
  background-color: transparent;
}

.card {
  @apply w-[calc(100%-2rem)] flex flex-col items-center gap-4 bg-base-100 py-5 px-2;
}

/* Reconstructor */
.reconstructor .move {
  @apply text-success;
}

.reconstructor .comment {
  @apply text-base-content/60;
}

.reconstructor .operator {
  @apply text-accent;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(20 32 57);
  border-radius: 1rem;
  border: 1px solid #fff3;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(76, 82, 141);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(60, 77, 225);
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  height: 0;
  padding: 0;
  margin: 0;
  background: orange;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}
