@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Ubuntu;
  src: url(/fonts/UbuntuMono-Regular.ttf);
}

:root {
  font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg-color);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: all 200ms;
}

:root.dark {
  --bg-color: #181e2e;
}

:root:not(.dark) {
  --bg-color: #d5dfff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

th {
  @apply bg-primary-500 dark:bg-[#040420] text-white;
}

footer {
  margin-top: auto;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  gap: .5rem;
  width: 100%;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: .8rem;
  height: .8rem;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #0007;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0009;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  height: 0;
  padding: 0;
  margin: 0;
  background: orange;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

.avatar {
  @apply w-12 h-12 bg-gray-300 rounded-full p-2 aspect-square;
}